# Binaries
tuibik
tuibik.exe
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output
dist/

# Go build artifacts
*.test
*.out
vendor/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS generated
Thumbs.db
ehthumbs.db
